.image-popup{

    border-radius: 50%;
    position: fixed;
    overflow: hidden;
    width: 400px;
    height: 400px;
    z-index: 101;

}
 


.image-popup img{
    width: 400px;
    
    
}

.not-circle{
    width:65vw;
    border-radius: 0;
    height: fit-content;
    height: -moz-fit-content;
    overflow: visible;
}

.not-circle img{
    width: 65vw;
}
.image-popup.ng-hide-remove{
    opacity: 0;
    transform: translate(-50%,-170%);
}

.image-popup.ng-hide-remove-active{
    opacity: 1;
    transform: translate(-50%,-50%);
}

.image-popup.ng-hide-add{
    opacity: 1;
    transform: translate(-50%,-50%);
}

.image-popup.ng-hide-add-active{
    opacity: 0;
    transform: translate(-50%,-170%);
}
/* 
.image-popup.ng-hide-remove{
    opacity: 0;
    transform: translate(0,0);
    transform: translate3d(0,-100%,0);
}

.image-popup.ng-hide-remove-active{
    opacity: 1;
    transform: translate(0,0);
    transform: translate3d(0,0,0);
}

.image-popup.ng-hide-add{
    opacity: 1;
    transform: translate(0,0);
    transform: translate3d(0,0,0);
}

.image-popup.ng-hide-add-active{
    opacity: 0;
    transform: translate(0,0);
    transform: translate3d(0,-100%,0);
} */

.centered-axis-xy {
 
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@media (max-width: 576px) {

	.not-circle{
		width:95vw;
		
	}

	.not-circle img{
		width: 95vw;
    }
}

.arrow{
    position: absolute;
    z-index: 108;

    margin: auto;
    height: 27px;
}

.arrow.right{
    right: -50px;
    top: 0;
    bottom: 0;
}

.arrow.left{
    left: -50px;
    top: 0;
    bottom: 0;
}

.arrow i{
    transform: scale(7);
    color: white;
}

.sliderImage{
    position: absolute;
    
}