.ng-enter,.ng-leave{

   
    transition: opacity 0.35s,transform 0.8s;
}

.ng-enter{
    opacity: 0;
    transform: translate3d(100%,0,0);
    
}

.ng-enter.ng-enter-active{
    opacity: 1;
    transform: translate3d(0,0,0);
}


.ng-leave{
    opacity: 1;
    transform: translate3d(0,0,0);
    
}

.ng-leave.ng-leave-active{
    overflow: hidden;
    opacity: 0;
    transform: translate3d(-100%,0,0);
}