<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Yahya Ahmad CV</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css\style.css">
	<link rel="stylesheet" href="css\nganimate.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.7.2/angular-animate.min.js"></script>
	<script src="ngDrag.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="css/popup.css">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="stylesheet" href="css/image.css">
	<link rel="stylesheet" href="css/test.css">
	

</head>
<body style="overflow:hidden;" ng-app="pageApp">

	<div class="container-fluid" ng-controller="test">

		<div class="header-parent">
			<div ng-controller="pictureController"  ng-hide="showPicture" ng-click='changeImageShow("image.jpeg")' class="ps-picture"></div>
			<div class="header" ng-class='{"shown" : shown}'>
					
					<button  ng-click='toggleBar()' class="toggle-button"><i class="fas fa-bars"></i></button>
					<nav id="bottomNav" ng-class='{"shown" : shown}' class="bottom nav justify-content-center nav-justified">
						<div ng-class="changeClass('home.html');" ng-click="changeInclude('home.html')" class="nav-item my-button">HOME</div>
						<div ng-class="changeClass('info.html');" ng-click="changeInclude('info.html')" class="nav-item my-button">EXPERIENCE</div>
						<div ng-class="changeClass('education.html');" ng-click="changeInclude('education.html')" class="nav-item my-button">EDUCATION</div>
						<div ng-class="changeClass('projects.html');" ng-click="changeInclude('projects.html')" class="nav-item my-button">PROJECTS</div>
						
					</nav>
					
		
				</div>
		</div>
		<div class="cache"><img ng-repeat="project in projects" src="{{project.img}}" alt=""></div>
		<div class="body" >
				<dir-message></dir-message>
				<dir-image></dir-image>
				
			<div class="loader {{classLoader}}"></div>
			<div ng-include="htmlFile" ng-class='{"shown" : shown}' ng-touchstart='hideBar()' ng-click='hideBar()'  class="content-holder {{errorF}}">
			

			</div>

	</div>

</body>
</html>