<div class="par-1">
    <span class="heading-1">C#/ASP.Net Developer</span>
    <span class="heading-2" >Arrow IT Solutions Company</span>
    <span class="body-1">
    
        - Trained as a C#/ASP.net developer for 6 mouth. <br>
        - Worked in developing front end design. <br>
        - Understanding in back end technology (ASP.net and node.js). <br>
    
    </span>
</div>

<div class="par-1">
    <span class="heading-1">Personal Experience</span>
    
    <span class="heading-2" >ASP.net</span>
    <span class="body-1">
    
        Worked in a graduation project, which is a website that helps the security staff in communication and solving problems between students.
    
    </span>
    <span class="heading-2" >Node JS</span>
    <span class="body-1">
    
        Worked in a university project about a gym system that uses QR code to
        identify the clients.
    
    </span>



    <span class="heading-2" >AngularJS</span>
    <span class="body-1">
    
        Used AngularJS to design this web page that you are browsing right now.
    
    </span>
</div>


    
