
<div  ng-controller='sliderController'>
    <dir-slider class="popup-modal" ></dir-slider>
    <div class="par-1">
    
        <div class="heading-1">Projects which I have worked on:</div>
    
        
    
    </div>
    
    <div class="container projects">
        <div class="row">
            <div class="col-12 col-sm-6 project" ng-repeat="project in projects">
            
                
                    
                    <div class="my-box">
                        <div class="heading-2 box-header"> {{project.Name}} </div>
                        <div style="background-image:url('{{project.folder + project.images[0]}}')" ng-click='changeSliderShow(project)' class="photo-container">
                                <i ng-click="navigate(project.url); $event.stopPropagation();" class="fab fa-github photo-icon" data-toggle="tooltip" data-placement="top" title="Project Link"></i>
                        </div>
                    </div>
            
            
            
            
            </div> 
        </div>
    </div>
</div>

<script>

    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>